{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "react-native"],
  "rules": {
    "printWidth": 120,
    "react-native/no-inline-styles": 2,
    "react-native/no-unused-styles": 2
  }
}